{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "no-continue": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "max-len": [
            1,
            140
        ],
        "linebreak-style": "off",
        "import/prefer-default-export": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/no-danger": 0,
        "react/prop-types": [
            1,
            {
                "ignore": [
                    "children"
                ]
            }
        ],
        "react/no-array-index-key": "off",
        "react/forbid-prop-types": "off"
    },
    "globals": {
        "document": true
    }
}