@import "vars.scss";

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.react-mde {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;

  .grip {
    border-top: 1px solid $border-color;
    background-color: $toolbar-color;
    text-align: center;
    height: $grip-height;
    color: black;
    cursor: s-resize;

    .icon {
      height: $grip-height;
    }
  }
}
