@import "vars.scss";

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 1px 1px rgb(143, 143, 143);
}

.mde {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;

  .grip {
    border-top: 1px solid $border-color;
    background-color: $toolbar-color;
    text-align: center;
    height: $grip-height;
    color: black;
    cursor: s-resize;

    .icon {
      height: $grip-height;
    }
  }
}
