@import "variables";

.react-mde {
    button:focus {outline:0;}
    .mde-header {
        padding: 6px 0;
        ul.mde-header-group {
            display:inline-block;
            margin: 0;
            margin-right: 1rem;
            padding: 0;
            list-style: none;
            li.mde-header-item {
                display: inline-block;
                position: relative;
                margin: 0 0.25rem;
                button {
                    text-align: left;
                    cursor: pointer;
                    padding: .25rem;
                    margin: 0;
                    border: none;
                    background: none;
                    .fa {
                        color: $mde-button-color;
                    }
                    @keyframes tooltip-appear {
                        from {
                        opacity: 0;
                        }
                        to {
                        opacity: 1;
                        }
                    }
                    @mixin tooltip-animation {
                        animation-name: tooltip-appear;
                        animation-duration: 0.2s;
                        animation-delay: 0.5s;
                        animation-fill-mode: forwards;
                    }
                    &.tooltipped {
                        &:hover::before {
                            @include tooltip-animation();
                            opacity: 0;
                            position: absolute;
                            z-index: 1000001;
                            width: 0;
                            height: 0;
                            color: rgba(0, 0, 0, 0.8);
                            pointer-events: none;
                            content: "";
                            border: 5px solid transparent;
                            top: -5px;
                            right: 50%;
                            bottom: auto;
                            margin-right: -5px;
                            border-top-color: rgba(0, 0, 0, 0.8);
                        }
                        &:hover::after {
                            @include tooltip-animation();
                            font-size: 11px;
                            opacity: 0;
                            position: absolute;
                            z-index: 1000000;
                            padding: 5px 8px;
                            color: #fff;
                            pointer-events: none;
                            content: attr(aria-label);
                            background: rgba(0, 0, 0, 0.8);
                            border-radius: 3px;
                            right: 50%;
                            bottom: 100%;
                            transform: translateX(50%);
                            margin-bottom: 5px;
                            white-space: nowrap;
                        }
                    }
                    
                }
                .react-mde-dropdown {
                        position: absolute;
                        right: 50%;
                        transform: translateX(50%);
                        background-color: white;
                        border: 1px solid $mde-border-color;
                        padding: 5px;
                        top: 30px;
                        li {
                            margin: 0;
                            white-space: nowrap;
                            list-style: none;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 0;
                            border: 8px solid transparent;
                            border-bottom-color: rgba(0,0,0,0.15);
                            top: -16px;
                            right: 50%;
                            transform: translateX(50%);
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 0;
                            border: 7px solid transparent;
                            border-bottom-color: white;
                            top: -14px;
                            right: 50%;
                            transform: translateX(50%);
                        }
                    }
            }

        }
    }

    .mde-text {
        textarea {
            width: 100%;
            min-height: $mde-textarea-min-height;
            padding: $mde-textarea-padding;
            border-width: 1px;
            border-style: solid;
            border-color: $mde-border-color;
            border-radius: $mde-textarea-border-radious;
        }
    }

    .mde-preview {
        margin-top: $mde-preview-margin-top;
        padding: $mde-preview-vertical-padding $mde-preview-horizontal-padding;
        border-width: 1px;
        border-style: dotted;
        border-color: $mde-border-color;
        border-radius: $mde-textarea-border-radious;
    }

    .mde-help {
        color: $mde-help-color;
        margin-top: 4px;
        margin-left: 1px;
        a.markdown-help {
            text-decoration: none;
            font-size: 12px;
            color: gray;
            svg.markdown-help-svg {
                fill: gray;
                display: inline-block;
                vertical-align: bottom !important;
            }
            span.markdown-help-text {
                margin-left: 3px;
                display: inline-block;
                vertical-align: center;
            }
        }
    }
}