@import "variables";

.react-mde-vertical-layout {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mde-tabs {
        display: flex;
        align-items: stretch;

        .mde-tab {
            border: none;
            border-left: 1px solid $mde-border-color;
            padding: 10px;
            background: none;
        }

        .mde-tab:hover {
            cursor: pointer;
        }

        .mde-tab-activated {
            background: white;
        }
    }

    .react-mde-content {
        display: flex;
        flex-direction: column;

        .mde-text {
            overflow-y: auto;
            height: 50%;
        }

        .mde-preview {
            overflow-y: auto;
            height: 50%;
            border-top: 1px solid $mde-border-color;
        }

        .mde-text-only {
            height: 100%;
        }

        .mde-preview-only {
            border-top: none;
            height: 100%;
        }
    }
}