@import "variables.scss";

$grip-height: 10px;

.react-mde {
  border: 1px solid $mde-border-color;
  border-radius: $mde-border-radius;

  * {
    box-sizing: border-box;
  }

  .grip {
    border-top: 1px solid $mde-border-color;
    background-color: $mde-toolbar-color;
    text-align: center;
    height: $grip-height;
    color: black;
    cursor: s-resize;

    .icon {
      height: $grip-height;
    }
  }

  .invisible {
    display: none;
  }

  .image-tip {

    display: flex !important;
    padding: 7px 10px;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    color: gray;
    background-color: $mde-toolbar-color;
    border-top: 1px solid $mde-border-color;
    position: relative;

    .image-input {
      min-height: 0;
      opacity: .01;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      cursor: pointer;
    }

  }
}
