@import "variables.scss";

.mde-editor {
  display: flex;
  flex-direction: column;
  flex: 1;

  .mde-textarea-wrapper {
    display: flex;
    flex: 1;
    position: relative;

    textarea.mde-text {
      display: flex;
      flex: 1;
      border: 0;
      padding: $mde-editor-padding;
      vertical-align: top;
      resize: none;
      overflow-y: auto;
    }
  }
}
