@import "variables";

.mde-text {
    textarea {
        display:block;
        box-sizing: border-box;
        width: 100%;
        min-height: $mde-textarea-min-height;
        padding: $mde-textarea-padding;
        border: 1px solid $mde-border-color;
        border-radius: $mde-textarea-border-radius;
    }
}

.mde-help {
    color: $mde-help-color;
    margin-top: 4px;
    margin-left: 1px;
    a.markdown-help {
        text-decoration: none;
        font-size: 12px;
        color: gray;
        svg.markdown-help-svg {
            fill: gray;
            display: inline-block;
            vertical-align: bottom !important;
        }
        span.markdown-help-text {
            margin-left: 3px;
            display: inline-block;
            vertical-align: center;
        }
    }
}