.mde-textarea-wrapper {
  position: relative;
  padding: 10px;

  textarea.mde-text {
    width: 100%;
    border: 0;
    vertical-align: top;
    resize: none;
    overflow-y: auto;

    &:focus {
      outline: none;
    }
  }

  & textarea.hidden {
    display: none;
  }
}
