@import "variables";

.react-mde-horizontal-layout {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mde-header {
        border-bottom: 1px solid $mde-border-color;
    }

    .react-mde-content {
        display: flex;
        height: 100%;

        .mde-text {
            width: 50%;
            overflow-y: auto;
            border-radius: 0px;
        }

        .mde-preview {
            width: 50%;
            padding: 10px;
            border-left: 1px solid $mde-border-color;
            overflow-y: auto;
        }
    }
}