@import "vars.scss";

.mde-header {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-bottom: 1px solid $border-color;
  border-radius: $border-radius $border-radius 0 0;
  background: $toolbar-color;

  .separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
  }

  .mde-tabs {
    display: flex;
    flex-direction: row;

    button {
      border-radius: $border-radius;
      margin: 9px 6px;
      background-color: transparent;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.selected {
        border: 1px solid $border-color;
      }
      &:hover {
        border: 1px solid $border-color;
        background: #ebebeb;
      }
    }
  }

  .svg-icon {
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    vertical-align: -0.125em;
  }

  ul.mde-header-group {
    margin: 0;
    padding: $toolbar-padding;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;

    &.hidden {
      visibility: hidden;
    }

    li.mde-header-item {
      display: inline-block;
      position: relative;
      margin: 0 4px;
      button {
        text-align: left;
        cursor: pointer;
        padding: 4px;
        margin: 0;
        border: none;
        background: none;
        color: $button-color;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        &:hover {
          border: 1px solid $border-color;
          background: #ebebeb;
        }
      }
      ul.react-mde-dropdown {
        position: absolute;
        left: 0;
        top: 30px;
        background-color: white;
        border: 1px solid $border-color;
        padding: 5px;
        z-index: 2;
        transform: translateX(-9px);
        li {
          margin: 0;
          white-space: nowrap;
          list-style: none;
          display: block;
          button {
            display: block;
            height: auto;
            p {
              display: block;
              margin: 0;
              padding: 0;
              font-weight: bold;
              line-height: 1em;
              background: none;
              border: 0;
              text-align: left;
              &.header-1 {
                font-size: 20px;
              }
              &.header-2 {
                font-size: 18px;
              }
              &.header-3 {
                font-size: 14px;
              }
              &.header-4 {
                font-size: 12px;
              }
            }
          }
        }
        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.15);
          top: -16px;
          left: 3px;
          transform: translateX(50%);
        }
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border: 7px solid transparent;
          border-bottom-color: white;
          top: -14px;
          left: 5px;
          transform: translateX(50%);
        }
      }
    }
  }
}
