$border-color: #c8ccd0 !default;
$border-radius: 2px !default;
$editor-default-min-height: 200px !default;
$editor-padding: 10px !default;
$button-color: #242729 !default;
$toolbar-color: #f9f9f9 !default;
$toolbar-padding: 10px !default;
$selected-color: #0366d6 !default;
$preview-horizontal-padding: 10px !default;
$preview-padding: 10px !default;
$preview-default-min-height: $editor-default-min-height !default;
$preview-default-height: auto !default;
$white-color: white !default;
$grip-height: 10px;
$font-size-base: 12px;
$line-height-base: 1.5;
$border-radius-base: 4px;
$overlay-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
$tooltip-color: #fff;
$tooltip-bg: #373737;
$tooltip-opacity: 1;
$tooltip-arrow-width: 5px;
$tooltip-distance: $tooltip-arrow-width + 4;
$tooltip-arrow-color: $tooltip-bg;
