$mde-border-radius: 2px !default;
$mde-white-color: white !default;
$mde-border-color: #c8ccd0 !default;
$mde-button-color: #242729 !default;
$mde-toolbar-color: #f9f9f9 !default;
$mde-selected-color: #0366d6 !default;
$mde-toolbar-padding: 10px !default;
$mde-editor-default-min-height: 200px !default;
$mde-editor-padding: 10px !default;
$mde-preview-horizontal-padding: 10px !default;
$mde-preview-padding: 10px !default;
$mde-preview-default-min-height: $mde-editor-default-min-height !default;
$mde-preview-default-height: auto !default;
$font-size-base: 12px;
$line-height-base: 1.5;
$border-radius-base: 4px;
$overlay-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
$tooltip-color: #fff;
$tooltip-bg: #373737;
$tooltip-opacity: 1;
$tooltip-arrow-width: 5px;
$tooltip-distance: $tooltip-arrow-width + 4;
$tooltip-arrow-color: $tooltip-bg;
