@import 'variables.scss';

body {
        font-size: 14px;
}

.container {

        width: 600px;
        margin: 100px auto;

        border: 1px solid $default-border-color;
        margin-top: 50px;
        padding: 8px;

}