@import 'variables.scss';

body {
        font-size: 14px;
}

.container {
        width: 600px;
        border: 1px solid $default-border-color;
        padding: 8px;
        margin: 10px auto;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 50px auto;
    }
}