@import 'variables.scss';

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    @media screen and (min-width: 768px) {
        margin: 50px auto;
    }
}
